<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapper 어노테이션이 달려있는 repository 경로 넣기.-->
<mapper namespace="com.kh.aboo.board.model.repository.BoardRepository">

<!-- 파일 업로드
	1. 게시글 작성할 때 파일 업로드
	2. 게시글 수정시 추가파일 첨부 시
-->
	<insert id="insertFile">
		insert into tb_file
		(f_idx, type_idx, origin_file_name, rename_file_name, save_path)
		values
		(sc_file_idx.nextval, 
		<choose>
			<when test="typeIdx != null">
				#{typeIdx},
			</when>
			<otherwise>
				'b'||sc_board_idx.currval,
			</otherwise>
		</choose>
		#{originFileName}, #{renameFileName}, #{savePath})
	</insert>

<!-- 게시글 목록 가져오기-->
	<select id="selectBoardList" resultType="board">
		select bd_idx, user_id, title, reg_date 
		from(
			select rownum rnum, b.* 
			from(
				select bd_idx, user_id, title, reg_date 
				from tb_board 
				order by bd_idx desc where IS_DEL = 0 and APARTMENT_IDX = #{apartmentIdx}
				) b
			) where rnum between #{queryStart} and #{queryEnd}
		
	</select>
</mapper>