<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.kh.aboo.board.info.model.repository.InfoRepository">

	<select id="selectInfoBoardList" resultType="infoBoard">
		select *
		from(
			select rownum rnum, b.*
			from(
				select *
				from tb_inf_qst_brd
				where b_isdel = 0 and apartment_Idx = #{apartmentIdx}
				order by b_idx desc
			) b
		) where rnum between #{queryStart} and #{queryEnd}
	</select>
	
</mapper>