<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.kh.aboo.board.interior.model.repository.InteriorBrdRepository">
	
	<select id="selectInteriorBrdList" resultType="interiorBrd">
		select *
		from(
			select rownum rnum, b.*
			from(
				select *
				from tb_interior_brd
				order by int_post_no desc
			) b
		) where rnum between #{queryStart} and #{queryEnd}
	</select>
	
</mapper>