<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.kh.aboo.board.used.model.repository.UsedRepository">
	
	
	<select id="selectUsedBrdList" resultType="usedBrd">
	      select * from(
         select rownum rnum, b.* from(
            select * from TB_USED_BRD 
            <where>
            	<choose>
	            	<when test="searchType == 'apartmentIdx'">
						APARTMENT_IDX = #{apartmentIdx} and is_del = 0
	            	</when>
            		<when test="searchType == 'search'">
						APARTMENT_IDX = #{apartmentIdx} and USED_TITLE like '%'||#{keyword}||'%' and is_del = 0
	            	</when>
	            	<when test="searchType == 'trnsc'">
						APARTMENT_IDX = #{apartmentIdx} and IS_TRNSC = #{keyword} and is_del = 0
	            	</when>
            	</choose>
            </where>
            order by USED_IDX desc ) b
      ) where rnum between #{paging.queryStart} and #{paging.queryEnd}	
	</select>
	
	<select id="selectUsedBrdCnt" resultType="int">
		select count(*) from TB_USED_BRD 
		<where>
			<choose>
				<when test="searchType == 'apartmentIdx'">
					APARTMENT_IDX = #{apartmentIdx} and is_del = 0
				</when>
				<when test="searchType == 'search'">
					APARTMENT_IDX = #{apartmentIdx} and USED_TITLE like '%'||#{keyword}||'%' and is_del = 0
				</when>		
            	<when test="searchType == 'trnsc'">
					APARTMENT_IDX = #{apartmentIdx} and IS_TRNSC = #{keyword} and is_del = 0
            	</when>						
			</choose>
		</where>
	</select>
	
	<insert id= "insertUsedBrdFile">
		insert into TB_FILE(F_IDX,TYPE_IDX,ORIGIN_FILE_NAME,RENAME_FILE_NAME,SAVE_PATH) 
		values(
		SC_FILE_IDX.nextval,
		<!-- bd_idx -->
		<choose>
			<when test="typeIdx != null">
				#{typeIdx},
			</when>
			<otherwise>
				'u'||SC_USED_IDX.currval,
			</otherwise>
		</choose>
		#{originFileName},
		#{renameFileName},
		#{savePath})
	</insert>
		
	
	<update id= "updateUsedBrdFileModify">
		update TB_FILE set 
		ORIGIN_FILE_NAME = #{fileVo.originFileName},
		RENAME_FILE_NAME =#{fileVo.renameFileName},
		SAVE_PATH = #{fileVo.savePath},
		REG_DATE = SYSDATE where TYPE_IDX =#{usedIdx}
	</update>
	
	
	
	
	
	
	
</mapper>