<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.kh.aboo.bdmin.notice.model.repository.NoticeRepository">
	
	<select id="selectNoticeList" resultType="notice">
		select *
		from(
			select rownum rnum, b.*
			from(
				select *
				from tb_notice
				where n_is_del = 0
				order by n_no desc
			) b
		) where rnum between #{queryStart} and #{queryEnd}
	</select>
	
</mapper>