<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
<!-- 1. 카멜케이스 셋팅-->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

<!-- 2. 경로 별칭 지정-->
	<typeAliases>
		<typeAlias type="com.kh.aboo.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.aboo.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.kh.aboo.user.generation.model.vo.Generation" alias="generation"/>
		<typeAlias type="com.kh.aboo.admin.mgmtfee.model.vo.Mgmtfee" alias="mgmtfee"/>
		<typeAlias type="com.kh.aboo.user.generationWon.model.vo.GenerationWon" alias="generationWon"/>
		<typeAlias type="com.kh.aboo.board.interior.model.vo.InteriorBrd" alias="interiorBrd"/>
		<typeAlias type="com.kh.aboo.board.info.model.vo.InfoBoard" alias="infoBoard"/>
		<typeAlias type="com.kh.aboo.board.used.model.vo.UsedBrd" alias="UsedBrd"/>
		<typeAlias type="com.kh.aboo.admin.vote.model.vo.VoteMng" alias="voteMng"/>
		<typeAlias type="com.kh.aboo.admin.car.model.vo.Car" alias="car"/>
		<typeAlias type="com.kh.aboo.admin.car.model.vo.CarApplication" alias="carApplication"/>
		<typeAlias type="com.kh.aboo.admin.schedule.model.vo.Schedule" alias="schedule"/>
		<typeAlias type="com.kh.aboo.bdmin.model.vo.Bdmin" alias="bdmin"/>
		<typeAlias type="com.kh.aboo.board.used.model.vo.UsedBrd" alias="usedBrd"/>
		
	</typeAliases>

<!-- 3. 작성쿼리 root등록을 위한 경로 설정. 맨아래에 있어야 한다.-->
	<mappers>
		<mapper resource="mybatis/mapper/board/boardMapper.xml"/>
		<mapper resource="mybatis/mapper/admin/adminMapper.xml"/>
		<mapper resource="mybatis/mapper/mgmtfee/mgmtfeeMapper.xml"/>
		<mapper resource="mybatis/mapper/mymgmtfee/mymgmtfeeMapper.xml"/>
		<mapper resource="mybatis/mapper/generation/generationMapper.xml"/>
		<mapper resource="mybatis/mapper/board/interiorBrdMapper.xml"/>
		<mapper resource="mybatis/mapper/board/infoBrdMapper.xml"/>
		<mapper resource="mybatis/mapper/board/usedBrdMapper.xml"/>
		<mapper resource="mybatis/mapper/myapt/voteMngMapper.xml"/>
		<mapper resource="mybatis/mapper/car/carMapper.xml"/>
		<mapper resource="mybatis/mapper/admin/scheduleMapper.xml"/>
		<mapper resource="mybatis/mapper/mypage/writeListMapper.xml"/>
	</mappers>


</configuration>