@charset "UTF-8";

 *,
*::before,
*::after {
  box-sizing: border-box;
}

/* 자동차 div 배경이미지, 건물  */
.cloudcontainer {
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-height: 35rem;
  background: url(../../../resources//abooimg/인덱스_건물.png) no-repeat center
    center;
  background-blend-mode: soft-light;
  background-size: contain;
  background-position: center center;
  padding: 2rem;

  transform: scale(0) translateY(5vh);
  will-change: transform;

  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  animation-duration: 15s;
  animation-delay: 1s;
}


/* 희원*/

.cloud-container--two {
/*배경  */
  background-image: url(../../../resources/abooimg/구름_오.png);
  background-size: 60px;
  width: 60px;
  height: 50px;
  will-change: background-position;

  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;

  animation-delay: 1s;
  
  /* 효과 */
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0.8) translateX(50vw) translateY(-10vh); 
  will-change: transform;

  animation-name: fly-right-two;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  animation-duration: 16s;
  animation-delay: 1s;
}


.rcloud-container--two {
   
   /* 배경  */
  background-image: url(../../../resources/abooimg/구름_오.png);
  background-size: contain;
  width: 500px;
  height: 500px;
  will-change: background-position;

  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;

  animation-delay: 1s;
   
   /* 효과 */
  position: absolute;
  top: 20%;
  left: -10%;
  transform: scale(0.1) translateY(-10vh) translateX(10vw);
  will-change: transform;

  animation-name: fly-right-three;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  animation-duration: 16s;
  animation-delay: 0.5s;


}
.cloud-container--ay {
	/* 배경 */
  background: url(../../../resources/abooimg/구름_왼.png) no-repeat center center;
  background-size: contain;
  width: 350px;
  height: 250px;
  will-change: background-position;

  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;

  animation-delay: 1s;
  
  /* 효과 */
  position: absolute;
  top: 20%;
  left: -10%;
  transform: translateY(-15vh) translateX(0vw) scale(0.5);
  will-change: transform;

  animation-name: fly-right-ay;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  animation-duration: 16s;
  animation-delay: 1s;
}



@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}




/* 띄운 div의 움직일 경로  */
@keyframes fly-right-one {
  0% {
    transform: translateY(7vh);
  }

  30% {
    transform: translateY(5vh);
  }

  60% {
    transform: translateY(7vh);
  }

  100% {
    transform: translateY(5vh);
  }
}

@keyframes fly-right-two {
  0% {
   transform: scale(0.8) translateX(50vw) translateY(-10vh); 
  }

 10% {
     transform: scale(0.8) translateX(55vw) translateY(-8vh); 
  }

  20% {
      transform: scale(0.8) translateX(50vw) translateY(-10vh); 
  }

  30% {
     transform: scale(0.8) translateX(55vw) translateY(-8vh); 
  }

  40% {
    transform: scale(0.8) translateX(50vw) translateY(-10vh); 
  }

  50% {
     transform: scale(0.8) translateX(55vw) translateY(-8vh); 
  }

  60% {
     transform: scale(0.8) translateX(50vw) translateY(-10vh); 
  }
  
  70% {
     transform: scale(0.8) translateX(55vw) translateY(-8vh); 
  }
  
  80% {
     transform: scale(0.8) translateX(50vw) translateY(-10vh); 
  }
  
  90% {
      transform: scale(0.8) translateX(55vw) translateY(-8vh);  
  }

  100% {
      transform: scale(0.8) translateX(50vw) translateY(-10vh); 
  }
}

@keyframes fly-right-three {
  0% {
   transform: scale(0.3) translateY(-60vh) translateX(100vw);
  }


  20% {
    transform: scale(0.3)  translateY(-60vh) translateX(110vw);
  }
  
  40% {
    transform: scale(0.3)  translateY(-60vh) translateX(100vw);
  }

  60% {
    transform: scale(0.3) translateY(-60vh) translateX(110vw);
  }

  80% {
     transform: scale(0.3) translateY(-60vh) translateX(100vw);
  }

  100% {
   transform: scale(0.3) translateY(-60vh) translateX(110vw);
  }

  
}

@keyframes fly-right-ay {
  0% {
    transform: translateY(-15vh) translateX(0vw) scale(0.5);
  }

  10% {
    transform: translateY(-15vh) translateX(3vw) scale(0.6);
  }

  20% {
    transform: translateY(-15vh) translateX(0vw) scale(0.5);
  }

  30% {
    transform: translateY(-15vh) translateX(3vw) scale(0.6);
  }

  40% {
    transform: translateY(-15vh) translateX(3vw) scale(0.5);
  }

  50% {
    transform: translateY(-15vh) translateX(1vw) scale(0.6);
  }

  60% {
    transform: translateY(-15vh) translateX(3vw) scale(0.5);
  }

  70% {
    transform: translateY(-15vh) translateX(1vw) scale(0.6);
  }

  80% {
    transform: translateY(-15vh) translateX(3vw) scale(0.5);
  }

  90% {
    transform: translateY(-15vh) translateX(1vw) scale(0.6);
  }

  100% {
    transform: translateY(-15vh) translateX(3vw) scale(0.5);
  }
}